.keyboard {
    padding: 1em 1em 1.5em 1em;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    border-radius: 6px;
}

.buttonList {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
}

.key {
    display: flex;
    flex-direction: column;
    width: 3.2em;
    height: 3.2em;
    margin: .3em;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
}

.key div {
    box-sizing: border-box;
    padding: 5px;
    height: 50%;
    text-align: left;
}

.key div:last-child {
    text-align: right;
}
